.navigation {
  overflow: hidden;
  background-color:#04AA6D;
}

.navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  justify-content: space-evenly;
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}

img {
  object-fit:cover;
  width: auto ;
  max-width: 100% ;
  height: auto;
}

.navigation a.active {
  background-color: #333;
  color: white;
}

body{
  height: 100vh;
  background-image: url("/img/forest.jpg");
  background-size:     cover;                 
  background-repeat:   no-repeat;
  background-position: center center;   
}

  @media (orientation: landscape) {
    body{ 
      width: 1900px;
      height: 1100px;
      align-items: center;
  }
}
  
  @media (orientation: portrait) {
    body{ 
      height: 100%;
      width: 400px;
      align-items: center;
  }
}

  .content {
    height: 950px;
    width: 50%;
    background-color: #EEF2EC;
    padding: 20px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

  ul{
    display: flex;
    border-style: dotted;
    background-color: D2F3D1;
}

 ol{
    border-style: dotted;
    background-color: D2F3D1;
}

a{
  text-decoration: none;
}

a:hover {
  background-color:  #c1ded3;
}

a:visited {
  color:   #00492e;
}

a:active {
  color:   #2fb181;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-gap: 30px;
}

.grid-item {
  background-color: #D2F3D1;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  object-fit:cover;
}

.project-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-gap: 20px;
}

.project-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  object-fit:cover;
}

iframe {
  display:block;
  width:100%;
}

.blogimg {
  background-color: rgb(255, 255, 255);
  object-fit: cover;
  height: 100%;
  padding: 10px;
}

/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
  background-color: #D2F3D1;
  object-fit: cover;
}

Footer
© 2022 GitHub, Inc.
Footer navigation
