.navigation {
  overflow: hidden;
  background-color:#04AA6D;
}

.navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}

.navigation a.active {
  background-color: #333;;
  color: white;
}

body {
    background: #e6ffe6;
  }
  
  .content {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
  }

  .img{
    max-width:200px;
    max-height:200px;
  }

  ul, ol{
    border-style: dotted;
    background-color: D2F3D1;
}

a:hover {
  background-color:  #c1ded3;
}

a:visited {
  color:   #00492e;
}

a:active {
  color:   #2fb181;
}