h1, h2 {
  color: #ff6b6b;
  text-transform: uppercase;
}

p {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}



ul {
  border: 2px solid orange;
}

ol {
  border: 2px solid purple;
}

ul,
ol {
  background-color: #ffebcc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}


ol,
ul {
  padding: 10px 20px;
}


h1,
strong {
  color: purple;
}

em {
  color: rgb(213, 26, 120);
}

body {
  background-color: #f2f0e1;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

